

<%= render "nav/home_nav" %>


    <div id="main-wrapper">
        <div class="site-wrapper-reveal">
            <!--===========  feature-large-images-wrapper  Start =============-->
            <div class="feature-large-images-wrapper section-space--ptb_100">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-12">
                            <!-- section-title-wrap Start -->
                            <div class="section-title-wrap text-center section-space--mb_60">
                                <h6 class="section-sub-title mb-20">Our company</h6>
                                <h3 class="heading">Share the joy of achieving <span class="text-color-primary"> glorious   <br> moments</span> & climbed up <span class="text-color-primary">the top.</span></h3>
                            </div>
                            <!-- section-title-wrap Start -->
                        </div>
                    </div>

                    <div class="cybersecurity-about-box">
                        <div class="row">
                            <div class="col-lg-5 offset-lg-1">
                                <div class="modern-number-01 number-two">
                                    <h2 class="heading  mr-5"><span class="mark-text">38</span>Years’ Experience in IT</h2>
                                    <h5 class="heading mt-30">We’ve been triumphing all these <span class="text-color-primary"> 38 years. </span> Sacrifices are made up with success. </h5>
                                </div>
                            </div>

                            <div class="col-lg-5 ml-auto">
                                <div class="faq-wrapper">
                                    <div id="accordion">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        How can we help your business? <span> <i class="fas fa-chevron-down"></i>
                                        <i class="fas fa-chevron-up"></i> </span>
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="collapseOne" class="show" aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Through the collaboration with customers in discussing needs and demand, we're able to attain mutual understanding, gain customer trust to offer appropriate advice, and bring about suggestions on suitable technology to transform your business. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        What are the advantages of Softalx?<span> <i class="fas fa-chevron-down"></i>
                                        <i class="fas fa-chevron-up"></i> </span>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Softalx takes into consideration every little detail to make sure the system run smoothly and responsively. Softalx employs a new technique called Minified Technology for securing customers' database & building up highly confidential firewalls. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <h5 class="mb-0">
                                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        How working process is simplified? <span> <i class="fas fa-chevron-down"></i>
                                        <i class="fas fa-chevron-up"></i> </span>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>We reduce redundant complex calculations and lengthy erroneous code texts with simpler ones to ensure Softalx would run seamlessly and the design is reserved in its best form when viewed from a wide range of mobile devices & browsers. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <hr width="60%">
            <!--===========  feature-large-images-wrapper  End =============-->



<%
=begin%>
 
          <div class="fun-fact-wrapper bg-theme-default section-space--pb_30 section-space--pt_60">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 wow move-up animated" style="visibility: visible;">
                            <div class="fun-fact--two text-center">
                                  <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>

                                <div class="fun-fact__count counter">120+</div>
                                <h6 class="fun-fact__text">Happy clients</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow move-up animated" style="visibility: visible;">
                            <div class="fun-fact--two text-center">
                                <div class="fun-fact__count counter">32+</div>
                                <h6 class="fun-fact__text">Finished projects</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow move-up animated" style="visibility: visible;">
                            <div class="fun-fact--two text-center">
                                <div class="fun-fact__count counter">43</div>
                                <h6 class="fun-fact__text">Skilled Experts</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow move-up animated" style="visibility: visible;">
                            <div class="fun-fact--two text-center">
                                <div class="fun-fact__count counter">318</div>
                                <h6 class="fun-fact__text">Media Posts</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
<%
=end%>

           





            <!--===========  feature-icon-wrapper  Start =============-->
            <div class="feature-icon-wrapper section-space--pb_80 section-space--pt_80 border-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="feature-list__three">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="grid-item animate">
                                            <div class="ht-box-icon style-03">
                                                <div class="icon-box-wrap">
                                                    <div class="content-header">
                                                        <div class="icon">
                                                            <i class="far fa-life-ring"></i>
                                                        </div>
                                                        <h5 class="heading">
                                                            Quality Assurance System
                                                        </h5>
                                                    </div>
                                                    <div class="content">
                                                        <div class="text">Our service offerings enhance customer experience throughout secure & highly functional end-to-end warranty management.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="grid-item animate">
                                            <div class="ht-box-icon style-03">
                                                <div class="icon-box-wrap">
                                                    <div class="content-header">
                                                        <div class="icon">
                                                            <i class="fas fa-chart-line"></i>
                                                        </div>
                                                        <h5 class="heading">
                                                            Accurate Testing Processes
                                                        </h5>
                                                    </div>
                                                    <div class="content">
                                                        <div class="text">Develop and propose product improvements through periodical and accurate testing, repairing & refining every version.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="grid-item animate">
                                            <div class="ht-box-icon style-03">
                                                <div class="icon-box-wrap">
                                                    <div class="content-header">
                                                        <div class="icon">
                                                            <i class="fas fa-globe"></i>
                                                        </div>
                                                        <h5 class="heading">
                                                            Smart API Generation
                                                        </h5>
                                                    </div>
                                                    <div class="content">
                                                        <div class="text">Develop and propose product improvements through periodical and accurate testing, repairing & refining every version.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="grid-item animate">
                                            <div class="ht-box-icon style-03">
                                                <div class="icon-box-wrap">
                                                    <div class="content-header">
                                                        <div class="icon">
                                                            <i class="fas fa-medal"></i>
                                                            
                                                        </div>
                                                        <h5 class="heading">
                                                            Infrastructure Integration Technology
                                                        </h5>
                                                    </div>
                                                    <div class="content">
                                                        <div class="text">At Softalx, we have a holistic and integrated approach towards core modernization to experience technological evolution.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--===========  feature-icon-wrapper  End =============-->


<%= render "nav/home_footer" %>