<div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-center">
                        <h1 class="breadcrumb-title text-color-primary">Testimonials</h1>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">testimonials</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>



    

        <div class="col-12 text-center wow move-up pt-3 " >
            <ul class="float-right ht-tab-menu " role="">
                <li class="">
                    <a class="nav-link active " id="" data-toggle="modal" href="#testimonials" role="" data-target="#exampleModal" aria-selected="true">+ Add Testimonial</a>
                </li>
                
            </ul>
        </div>


    <div class="testimonial-slider-area section-space--ptb_120">
                <div class="container">
                    <div class="row">
                    

                        <div class="col-lg-12">

                            <div class="section-title-wrap text-center section-space--mb_40">
                                <h6 class="section-sub-title mb-20">Testimonials</h6>
                                <h3 class="heading">Why do people <span class="text-color-primary">love Softalx?</span></h3>
                            </div>


                                <div class="row">      
                                    <div class="col-lg-6">                 
                                        <div class="testimonial-slider__one wow move-up animated " style="visibility: visible;">

                                            <div class="testimonial-slider--info">
                                                <div class="testimonial-slider__media">
                                                    <%= image_tag "testimonial/mitech-testimonial-avata-02-90x90.jpg", class: 'img-fluid' %>
                                                </div>

                                                <div class="testimonial-slider__author">
                                                    <div class="testimonial-rating">
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                    </div>
                                                    <div class="author-info">
                                                        <h6 class="name">Abbie Ferguson</h6>
                                                        <span class="designation">Marketing</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="testimonial-slider__text">I’ve been working with over 35 IT companies on more than 200 projects of our company, but @Softalx is one of the most impressive to me.</div>

                                        </div>
                                    </div>



                                    <div class="col-lg-6">                 
                                        <div class="testimonial-slider__one wow move-up animated " style="visibility: visible;">

                                            <div class="testimonial-slider--info">
                                                <div class="testimonial-slider__media">
                                                    <%= image_tag "testimonial/mitech-testimonial-avata-03-90x90.jpg", class: 'img-fluid' %>
                                                </div>

                                                <div class="testimonial-slider__author">
                                                    <div class="testimonial-rating">
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                    </div>
                                                    <div class="author-info">
                                                        <h6 class="name">Abbie Ferguson</h6>
                                                        <span class="designation">Marketing</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="testimonial-slider__text">I’ve been working with over 35 IT companies on more than 200 projects of our company, but @Softalx is one of the most impressive to me.</div>

                                        </div>
                                    </div>



                                    <div class="col-lg-6">                 
                                        <div class="testimonial-slider__one wow move-up animated " style="visibility: visible;">

                                            <div class="testimonial-slider--info">
                                                <div class="testimonial-slider__media">
                                                    <%= image_tag "testimonial/mitech-testimonial-avata-04-90x90.jpg", class: 'img-fluid' %>
                                                </div>

                                                <div class="testimonial-slider__author">
                                                    <div class="testimonial-rating">
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                    </div>
                                                    <div class="author-info">
                                                        <h6 class="name">Abbie Ferguson</h6>
                                                        <span class="designation">Marketing</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="testimonial-slider__text">I’ve been working with over 35 IT companies on more than 200 projects of our company, but @Softalx is one of the most impressive to me.</div>

                                        </div>
                                    </div>


                                    <div class="col-lg-6">                 
                                        <div class="testimonial-slider__one wow move-up animated " style="visibility: visible;">

                                            <div class="testimonial-slider--info">
                                                <div class="testimonial-slider__media">
                                                    <%= image_tag "testimonial/mitech-testimonial-avata-02-90x90.jpg", class: 'img-fluid' %>
                                                </div>

                                                <div class="testimonial-slider__author">
                                                    <div class="testimonial-rating">
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                    </div>
                                                    <div class="author-info">
                                                        <h6 class="name">Abbie Ferguson</h6>
                                                        <span class="designation">Marketing</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="testimonial-slider__text">I’ve been working with over 35 IT companies on more than 200 projects of our company, but @Softalx is one of the most impressive to me.</div>

                                        </div>
                                    </div>


                                </div>

                        </div>
                    </div>
                </div>
    </div>


    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header bg-primary">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer pt-3">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>

